body{
    font-family: 'RocknRoll One', sans-serif;
    background-color: #063946;
    margin: 0;
}  
main{
    padding: 10px;
} 
ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
figure{
    margin: 0;
}
.header_figure{
    max-width: 100%;
}
.main_header{
    background-color: #011627;
    color: #008a77;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: center;
}
.navigation{
    height: inherit;
}
.main_header nav{
    height: inherit;
}
.main_header ul{
    display: flex ;
    height: inherit;
}
.main_header ul li{
    height: inherit;
    max-height: 100%;
}
.main_header a{
    color: #008a77;
    text-decoration: none;
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
}
.hero_text{
    width: 1280px;
    max-width: 100%;
}
.hero_title{
    text-align: center;
    font-size: 50px;
    max-width: 100%;
    font-size-adjust: inherit;
}
.title_section{
    text-align: center;
    font-size: 200%;
}
.members ul{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border: 1% solid black;
}
.members li{
    background-color: #4f16a5;
    width: 300px;
    margin: 1%;
    padding: 2%;
    flex-shrink: 0;
}
.members_img{
    border-radius: 50%;
    border:10px solid #666;
}
.service_list{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.service_list a{
    text-decoration: none;
    color: white;
    font-weight: none;
}
.service{
    background-color: #062636;
    display: flex;
    justify-content: center;
    width: 900px;
    max-width: 100%;
    padding: 0;
    margin: 10px;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.service_text_content{
    width: 50%;
}
.service_title{
    font-size: 30px;
}
.contact{
    display: flex;
    justify-content:center;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
}
.form{
    background-color: teal;
    max-width: 90%;
    margin: 10px;
    padding: 10px;
}
input{
    border: none;
    background-color: brown;
    width: 560px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    max-width: 100%;

}
textarea{
    border: none;
    background-color: brown;
    margin: 8px 0;
    width: 560px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    max-width: 100%;

}

.main_footer{
    background-color: #011627;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;

}
footer ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer a{
    color: #008a77;
    text-decoration: none;
}
footer nav a{
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}