body{
    font-family: 'RocknRoll One', sans-serif;
    background-color: #063946;
    margin: 0;
}  
main{
    padding: 10px;
} 
ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
figure{
    margin: 0;
}
.main_header{
    background-color: #011627;
    color: #008a77;
    display: flex;
    justify-content: space-between;
    height: 105px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.navigation{
    height: inherit;
}
.main_header nav{
    height: inherit;
}
.main_header ul{
    display: flex ;
    height: inherit;
}
.main_header ul li{
    height: inherit;
}
.main_header a{
    color: #008a77;
    text-decoration: none;
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}
.hero h1{
    text-align: center;
}
.title_section{
    text-align: center;
}
.members ul{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border: 1% solid black;
}
.members li{
    background-color: #4f16a5;
    width: 300px;
    margin: 1%;
    padding: 2%;
    flex-shrink: 0;
}
.members_img{
    border-radius: 50%;
    border:10px solid #666;
}
.service_list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.service{
    background-color: #062636;
    display: flex;
    justify-content: center;
    width: 900px;
    padding: 0;
    margin: 10px;
    flex-shrink: 0;
}
.service_text_content{
    width: 50%;
}
.contact{
    display: flex;
    justify-content:center;
}
.main_footer{
    background-color: #011627;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
footer ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer a{
    color: #008a77;
    text-decoration: none;
}
footer nav a{
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}